
<h2>見本</h2>


<p>会員になると、下記のように日々の記録がグラフとして表示されます。</p>


<p>運動時間　記録表</p>
<%= line_chart @activity_and_sleep_log_charts.map {|o| [o.start_time, o.exercise_time]}, colors: ["#b00"] %>

<p>睡眠時間　記録表</p>
<%= line_chart @activity_and_sleep_log_charts.map {|o| [o.start_time, o.hours_of_sleep]}, min: 0, max: 24 %>

