
  <h2>美容/栄養　豆知識</h2>
  <p>※今回はポートフォリオのため、著作権などの問題により閲覧できません。</p>

    <% @beauty_nutrition_knowledge.each do |beauty_nutrition_knowledge| %>

  <p>ジャンル名</p>
    <span><%= beauty_nutrition_knowledge.genre %></span>


  <p>タイトル</p>
    <span><%= beauty_nutrition_knowledge.title %></span>


  <p>内容</p>
    <span><%= beauty_nutrition_knowledge.content %></span>


<% end %>