
<p>処方薬一覧</p>

<% @prescriptionlist.each do |prescriptionlist| %>

  <p>薬品名</p>
  <span><%= prescriptionlist.chemical_name %></span>

  <p>処方日付</p>
  <span><%= prescriptionlist.prescription_period %></span>

  <p>備考</p>
  <span><%= prescriptionlist.note %></span>

<% end %>