
<h2>処方薬一覧</h2>

<% @prescription_lists.each do |prescriptionlist| %>

  <p>薬品名</p>
  <p><%= prescriptionlist.chemical_name %></p>

  <p>処方日付</p>
  <p><%= prescriptionlist.prescription_period %></p>

  <p>備考</p>
  <p><%= prescriptionlist.note %></p>

<% end %>