
<h2>美容栄養豆知識</h2>

<% @beauty_nutrition_knowledges.each do |beauty_nutrition_knowledge| %>

  <p>ジャンル名</p>
  <span><%= link_to beauty_nutrition_knowledge.genre_i18n,  admin_beauty_nutrition_knowledge_path(beauty_nutrition_knowledge) %></span>

   <p>タイトル</p>
  <span><%= link_to beauty_nutrition_knowledge.title,  admin_beauty_nutrition_knowledge_path(beauty_nutrition_knowledge.id) %></span>

   <p>内容</p>
  <span><%= link_to beauty_nutrition_knowledge.content,  admin_beauty_nutrition_knowledge_path(beauty_nutrition_knowledge.id) %></span>

<% end %>

<h4><%= link_to '美容、栄養　豆知識 投稿へ戻る', new_admin_beauty_nutrition_knowledge_path %></h4>