
<h2>美容栄養豆知識</h2>

<%= render 'admin/beauty_nutrition_knowledges/form', beauty_nutrition_knowledge: @beauty_nutrition_knowledge, message: "投稿" %>
<h4><%= link_to '美容、栄養　豆知識 一覧表へ', admin_beauty_nutrition_knowledges_path %></h4>