
<h2>About</h2>

<p>健康のための自己管理チェック表です。</p>
<p>私生活の予定を一括管理できるスケジュールサイトです。</p>
<p>内服の服用確認カレンダーにチェックできて、</p>
<p>薬の飲み忘れを防ぐこともできます。</p>
<p>血圧測定値や体重値等を記録表に入力できます。</p>
<p>また、美容や栄養に関する豆知識などが閲覧できます。</p>



<h4>利用方法</h4>
<p>服用後、カレンダーに入力し記録に残して飲み忘れを防げます。</p>
<p>体重、体温、脈拍、血圧、SPO2値を入力できるのでグラフ化して閲覧できます。</p>
<p>美容、栄養に関する豆知識を閲覧できます。</p>

