   <h2>※このサイトはポートフォリオ用のテストサイトです。</h2>
   <h2>長期的な利用はできません。サイトが閉鎖される可能性があります。</h2>

       <h1><span class="badge badge-warning">Healthy Plus </span></h1>
          <h6><span class="badge badge-secondary">利用方法 </span></h6>

           <h4>このサイトは、健康のための自己管理表です。</h4>

               <p>薬の服用後、カレンダーに記録できるので、飲み忘れを防げます。</p>
               <p>服用中の薬品名等を記録して一覧表として閲覧できます。</p>
               <p>体重、体温、脈拍、血圧、SPO2値を入力するとグラフとして表示され閲覧できます。</p>
               <p>健康的な食事メニューや美容・栄養に関する豆知識を閲覧できます。※今回はポートフォリオのため、著作権などの問題により閲覧できません。</p>

           <h4><span class="badge badge-warning"><%= link_to "ログインページはこちら", new_customer_session_path %></span></h4>
           <h4><span class="badge badge-warning"><%= link_to "マイページはこちら", customers_my_page_path %></span></h4>