<h2>会員一覧</h2>
   <% @customers.each do |customer| %>
     <ul class="list-group">
        <li class="list-group-item">会員ID <span><%= customer.id%></span></li>
        <li class="list-group-item">メールアドレス<span><%= customer.email%></span></li>
        <li class="list-group-item">会員ステータス
                                      <% if customer.is_deleted %>
                                   <p>退会</p>
                                      <% else %>
                                   <p>有効</p>
                                      <% end %></li>
        <h4><%= link_to "編集" , edit_admin_customer_path(id:customer.id) %></h4>
        <h4><%= link_to "削除" , admin_customer_path(id:customer.id), method: :delete, data: { confirm: '本当に削除しますか?' } %></h4>

     </ul>


   <% end %>