<h2>会員一覧</h2>
<% @customers.each do |customer| %>
  <p>会員ID</p>
    <span><%= customer.id%></span>

  <p>メールアドレス</p>
    <span><%= customer.email%></span>

  <p>会員ステータス</p>
    <% if customer.is_deleted %>
      <p>退会</p>
    <% else %>
      <p>有効</p>
    <% end %>
<% end %>