
<h2>食事メニュー表　一覧</h2>

<% @cooking_menu_list.each do |cooking_menu_list| %>

<p>タイトル</p>
<span><%= cooking_menu_list.title %></span>

<p>〇人前</p>
<span><%= cooking_menu_list.for_how_meny_people %></span>

<p>材料</p>
<span><%= cooking_menu_list.material %></span>

<p>作り方</p>
<span><%= cooking_menu_list.way_of_making %></span>


<% end %>