
<h2>管理者　TOP</h2>


   <h4><%= link_to '会員一覧', admin_customers_path %></h4>
   <h4><%= link_to '食事メニュー　投稿',  new_admin_cooking_menu_list_path %></h4>
   <h4><%= link_to '美容、栄養　豆知識　投稿',  new_admin_beauty_nutrition_knowledge_path %></h4>
