

<p>活動、睡眠記録表</p>
#グラフ

<%= line_chart @customers.map { |customer|
    {name: customer.start_time, data: customer.exercise_time }
} %>

<%= line_chart @customers.map { |customer|
    {name: customer.start_time, data: customer.hours_of_sleep }
} %>