
<h2>服用チェック表</h2>

   <%= link_to 'カレンダーを書く', new_dosage_record_sheet_path %>
   <%= month_calendar events: @dosage_record_sheet do |date, dosage_record_sheet| %>
   <%= date.day %>


   <% dosage_record_sheet.each do |dosage_record_sheet| %>
    <div>
      <%= link_to dosage_record_sheet.title, dosage_record_sheet %>
    </div>
   <% end %>
  <% end %>