<!--登録されたデータの内容を表示-->
<% @dosage_record_sheet.inspect %>


<h3>服用カレンダーの詳細</h3>

  <h2>タイトル</h2>
     <p><%= @dosage_record_sheet.title %></p>

  <h2>日時</h2>
     <p><%= @dosage_record_sheet.start_time.strftime('%Y年%m月%d日') %></p>

  <h2>本文</h2>
     <p><%= @dosage_record_sheet.content %></p>